importClassesFrom("imageHTS")


export("distToNeg",
       "repDistRank",
       "ctlSeparatn",
       "clusterDist",
       "enrichAnalysis",
       "repCorr",
       "PDMByWellAvg",
       "PDMByFactorAnalysis",
       "PDMByKS",
       "PDMBySvmWeightVector",
       "PDMBySvmAccuracy")
